.container {
  overflow: hidden;
}
.toggle-btn {
  display: none;
}
.example-area {
  flex-wrap: wrap;
  gap: 15px;
}

@media (width <= 991px) {
  .toggle-btn {
    display: block;
    margin-right: 20px;
    font-size: 1.5rem;
  }

  .hover-links {
    display: none;
  }

  .example-card {
    width: calc(50% - 15px);
  }
}

@media (width <= 767px) {
  .header-section {
    flex-direction: column-reverse;
  }
  .header-left {
    width: 100%;
  }

  .primary-btn {
    width: 100%;
    text-align: center;
  }
} 
@media (width <=497px){
    :root{
       --padding-inline
    }
}