@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
/* css variable*/
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;

}
body{
    color: var(--primary-text-color);
    font-family: "Poppins", sans-serif;
     
}
h1{
font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
    font-family: "roboto",sans-serif ;
}
ul{
    list-style: none;
}
.container{
   max-width: 1180px;
   margin-inline: auto;
   padding-inline: var(--padding-inline-section);
}
a{
    text-decoration: none;
    display: inline-block;
}

.top-banner{
background-image: url(./assets/asset32.png);
background-color: #4fb3d4;
background-size: 300px;

}
.banner-text{
color: white;
padding: 15px 30px;
text-align: center;
font-size: 1rem;
}
.flex{
    display: flex;
    align-items: center;
}
.logo img {
    width: 200px;

}.main-nav{
    justify-content: space-between;
}
.hover-links{
    flex-basis: 730px;

}.hover-links ul{
    justify-content: end;
    gap: 40px;
}
.hover-link{
    color: var(--primary-text-color);
    text-transform: capitalize;
    transition: 0.2s ease-out;
    
}.hover-link:hover{
    color: var(--accent-color);
}